/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Paper GTK theme.
*
* The Paper GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Paper GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Paper GTK theme. If not, see http://www.gnu.org/licenses/.
*/

@define-color gedit @material_red;
@define-color gedit_dark @material_red_dark;

/**********
 * Header *
 **********/

GeditWindow .titlebar,
GeditWindow .header-bar {
    background-color: @gedit;
}

GeditWindow .titlebar:backdrop,
GeditWindow .header-bar:backdrop {
    background-color: shade(@gedit,0.9);
}

/* Switch */
GeditWindow .header-bar GtkSwitch.trough:active {
    background-color: @gedit;
}

GeditWindow GtkSwitch.trough:active {
    border: 1px solid shade(@gedit, 0.8);
    background-color: @gedit;
}

GeditWindow GtkSwitch.slider:active {
    border: 1px solid shade(@gedit, 0.8);
} 

GeditWindow .header-bar GtkSwitch.slider:active:backdrop,
GeditWindow .header-bar GtkSwitch.slider:backdrop {
    background-color: shade(@gedit, 0.9);
}


/************
 * Notebook *
 ************/

GeditWindow .notebook.header {
    background-color: @gedit;
}

GeditWindow .notebook:backdrop,
GeditWindow .notebook GtkViewport:backdrop {
    background-color: @gedit_dark;
}

GeditViewFrame .notebook tab .button:active {
    background-color: @gedit_dark;
}

/************
 * Etc etc. *
 ************/

 
GeditWindow .pane-separator, 
GeditWindow .pane-separator:hover {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@background, 0.8);
    background-color: shade(@background, 1.02);
    color: shade(@background, 0.8);
}

GeditPanel.title GtkLabel {
    padding: 4px 0;
}

GeditPanel.vertical .title {
    padding: 4px 0 4px 3px;
    border-style: none;
}

GeditPanel .toolbar {
    border-style: none;
    background: none;
}

GeditDocumentsPanel .view {
    background-color: @background;
}

GeditPanel.vertical .notebook {
    padding: 0;
    border-width: 1px 0;
}

GeditPanel.horizontal .notebook {
    padding: 0;
    border-width: 0 1px 1px 0;
}

GeditWindow .notebook {
    border-width: 1px 0;
}

GeditPanel .notebook tab,
GeditWindow .notebook tab {
    border-width: 0;
}

GeditStatusComboBox .button,
GeditStatusComboBox .button:hover,
GeditStatusComboBox .button:active,
GeditStatusComboBox .button:active:hover {
    padding: 1px 6px 2px 4px;
    border-style: solid;
    border-width: 0 1px;
    border-radius: 0;
}

GeditStatusComboBox .button:hover,
GeditStatusComboBox .button:active,
GeditStatusComboBox .button:active:hover {
    border-color: shade(@background, 0.8);
}

GeditViewFrame .gedit-search-slider {
    padding: 4px;
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@base, 0.8);
    background-color: @base;
}

GeditViewFrame .gedit-search-slider .not-found {
    background-color: @error_background;
    background-image: none;
    color: @error_foreground;
}

GeditViewFrame .gedit-search-slider .not-found:selected {
    background-color: @selected_background;
    color: @selected_foreground;
}

GeditFileBrowserWidget .primary-toolbar.toolbar  {
    padding: 2px;
    border-top: none;
    background-color: @background;
    background-image: none;
}

/**************************************
 * Added Stuff For Colour Consistency *
 **************************************/

/************
 * Scrollbar *
 ************/
GeditWindow .scrollbar.slider:hover {
    background-color: @gedit;
    background-image: none;
}

GeditWindow .scrollbar.slider:active.
GeditWindow .scrollbar.slider:prelight:active {
    background-color: shade(@gedit, 1.2);
    background-image: none;
}

/* Focus Button */
GeditWindow .button:focus,
GeditWindow .button.default:focus,
GeditWindow .button:active:focus,
GeditWindow .button.text-button:focus,
GeditWindow .button.image-button:focus {
    border: 0px solid @gedit;
    background-color: @gedit;
    background-image: linear-gradient(to bottom, 
                                      @gedit,
                                      @gedit
                                      );
    color: @header_text;
}

/* Hover Button */
GeditWindow .button:hover,
GeditWindow .button.default:hover,
GeditWindow .button:active:hover,
GeditWindow .button.text-button:hover,
GeditWindow .button.image-button:hover {
    border: 0px solid @gedit;
    background-color: @gedit;
    background-image: linear-gradient(to bottom, 
                                      @gedit,
                                      @gedit
                                      );
    color: @header_text;
}

/* Active (Pressed) Button */
GeditWindow .button:active,
GeditWindow .button.default:active,
GeditWindow .button.text-button:active,
GeditWindow .button.image-button:active {
    border: 0px solid @gedit_dark;
    background-color: @gedit_dark;
    background-image: linear-gradient(to bottom, 
                                      @gedit_dark,
                                      @gedit_dark
                                      );
    color: @header_text;

}

GeditWindow .button:active GtkImage,
GeditWindow .button:focus GtkImage,
GeditWindow .button:hover GtkImage {
    color: @header_text;
}

GeditWindow .text-button:active GtkLabel,
GeditWindow .text-button:hover GtkLabel {
    color: @header_text;
}

GeditWindow .button:active GtkLabel,
GeditWindow .button:hover GtkLabel {
    color: @header_text;
}
